{% if include.post_page %}
	<div class="take-me">
		<a class="button" href="#recipe">Saltar a la receta</a>
	</div>
{% endif %}
<h1>
	<a href="{{ include.post.url }}">
		{{ include.post.title }}
	</a>
</h1>
<time datetime="{{ include.post.date | date_to_xmlschema }}">

	{% assign m = post.date | date: "%-m" %}
	{{ post.date | date: "%e de" }}
	{% case m %}
	{% when '1' %}Enero
	{% when '2' %}Febrero
	{% when '3' %}Marzo
	{% when '4' %}Abril
	{% when '5' %}Mayo
	{% when '6' %}Junio
	{% when '7' %}Julio
	{% when '8' %}Agosto
	{% when '9' %}Septiembre
	{% when '10' %}Octubre
	{% when '11' %}Noviembre
	{% when '12' %}Diciembre
	{% endcase %}
	{{ post.date | date: "de %Y" }}

	<!--{{ include.post.date | date: "%e %B %Y " }}-->
</time>
